  <div id="header">
    <nav class="navbar navbar-default">
      <img src="/img/logo.jpg" id="logo"/>
      <a href="#" class="nav_links" id="login" data-target="#loginModal"> Login/Register </a>
      <!-- <a href="/" class="nav_links"> Home </a> -->
    </nav>
    <div id="welcome_text_div">
    <p id="welcome_text"> Welcome<span id="authenticatedUser">, {{authenticatedUser}}</span> </p>
      <p id="welcome_under_text"> to Rutgers University </p>
      <a href="http://www.rutgers.edu/" id="about_rutgers" target="_blank"> About Rutgers </a>
    </div>
    <div id="searchbar_div">
    </div>
  </div>
  </br>
<!--   <div>
    <div>
      <img src="https://assets3.thrillist.com/v1/image/1532030/size/tl-horizontal_main/the-14-best-restaurants-in-new-brunswick-new-jersey">
      <img src="http://media-cdn.tripadvisor.com/media/photo-o/04/23/7e/cb/add-a-caption.jpg">
    </div>
  </div> -->
<!--   Start of Carousal -->
<div class="row">
  <div class="col-md-9 col-md-offset-1">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
              <a href="/newBrunswick">
                <img src="/img/NewBrunswick.jpg" alt="Rutgers at New Brunswick" name="newBrunswick">
              </a>
              <div class="carousel-caption">
                <h3>Search for places to do/eat/play around New Brunswick</h3>
              </div>
            </div>
          <div class="item">
            <a href="/biomed">
              <img src="/img/RutgersBioMedical.jpg" alt="Rutgers Bio Medical University">
            </a>
            <div class="carousel-caption">
              <h3>Search for places to do/eat/play around Bio Medical University</h3>
            </div>
          </div>
          <div class="item">
            <a href="/newark">
              <img src="/img/rutgersNewwark.jpg" alt="Rutgers at newark">
            </a>
            <div class="carousel-caption">
              <h3>Search for places to do/eat/play around Newark</h3>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-danger">
      <div class="panel-heading"><strong>Invite Your Friend</strong></div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email Address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <p>----------- Or----------</p>
            <div class="form-group">
              <label for="exampleInputPhone">Phone</label>
              <input type="password" class="form-control" id="exampleInputPhone" placeholder="Phone">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Save In Your Friend List
              </label>
            </div>
            <button type="submit" class="btn btn-default">Conatct</button>
          </form>
        </div>
    </div>
  </div>
</div>
<!-- End of Corousal  -->
  <div class="row">
    <div class="col-md-8">
      <h1>Place List</h1>
      <form method="GET" action="/newBrunswick">
        <div class="form-group">
          <label for="exampleInputEmail1">What are you looking for?</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="place" placeholder="Food, drinks, etc">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <br>
          <table class="table table-bordered">
            <thead>
              <td>Place Name</td>
              <td>Ratings</td>
              <td>Image Url</td>
              <td>Address</td>
            </thead>
          {{#each businesses}}
              <tr>
                <td><a href="{{url}}" target="_blank">{{name}}</a></td>
                <td>{{rating}}</td>
                <td><a href="{{image_url}}">Photo</a></td>
                <td>{{location.display_address}}</td>
              </tr>
          {{/each}}
        </table>
    </div>
  </div>

  <footer>
    <div>
        <img src="./img/footer.jpg" id="footer_img">
    </div>
<!--     <i class="divider" id="divider_vertical"></i>
    <div>
        <h2>Title</h2>
        <p>text</p>
    </div>
    <i class="divider" id="divider_horizontal"></i>
    <div>
        <h2>Title</h2>
        <p>text</p>
    </div> -->
  </footer>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login/Register</h4>
      </div>
      <div class="modal-body">
<!--         <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button> -->
       <a href="/facebook"><button type="button" class="btn btn-lg btn-block btn-danger " id="facebook"><strong>Continue with Facebook</strong></button> </br></a>
        <button type="button" class="btn btn-lg btn-block btn-primary" id="linkedin"><strong>Continue with Linked In</strong></button> </br>
        <button type="button" class="btn  btn-lg btn-block btn-success" id="google"><strong>Continue with Google</strong></button>
        </br>
        <p>-------------------------------------------------OR---------------------------------------------------</p>
        </br>
        <button type="button" class="btn  btn-lg btn-block btn-warning" id="email"><strong>Sign Up with E-mail</strong></button>
        </br>
        <p>
        By signing up, I agree to RCB-OCTXV's <span id="footerSpan">Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms</span>.
        </p>
      </div>
      <div class="modal-footer">
      <p id="modalFooterText"><strong>Already a member ?</strong></p>
      <button type="button" class="btn btn-primary" id="modalLogin"><strong>Login</strong></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.Login modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="emailModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <form action="/loginentry" method="post">
          <div class="form-group">
            <label for="firstName">First Name </label>
            <input type="firstName" class="form-control" id="firstName" name="firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name </label>
            <input type="lastName" class="form-control" id="lastName" name="lastName">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="username" placeholder="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveRegister">Save</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /e-mail Form modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="loginCheckModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form action="/check" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="checkExampleInputEmail1" name="username" placeholder="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="checkExampleInputPassword1" name="password" placeholder="password">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveRegister">Save</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /e-mail Form modal -->
